@import url("sideBar.css");
@import url("calculator.css");
@import url("history.css");


* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: hidden;
}

button:focus {
    visibility: hidden;
}
